@font-face {
  font-family: "Work Sans";
  src: url("assets/fonts/WorkSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

:root {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  --clr-white: hsl(0, 100%, 100%);
  --clr-purple-100: hsl(275, 100%, 97%);
  --clr-purple-500: hsl(280, 84%, 52%);
  --clr-purple-600: hsl(292, 16%, 49%);
  --clr-purple-950: hsl(292, 42%, 14%);

  --clr-purple-shadow: hsla(293, 33%, 69%, 0.5);

  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

/***********
***Resets***
************/
body {
  margin: 0;
  line-height: 1.5;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

h2,
h3,
p {
  margin: 0;
}

button {
  font: inherit;
  color: inherit;
  padding: 0;
  border: none;
  background: none;
  text-align: inherit;
  cursor: pointer;
}

/***************
***Typography***
****************/
body {
  font-family: "Work Sans", sans-serif;
}

.card-title,
.accordion-button {
  color: var(--clr-purple-950);
}

.card-title {
  font-size: clamp(2rem, 0.929rem + 2.857vw, 3.5rem);
}

.accordion-button {
  font-size: clamp(1rem, 0.911rem + 0.238vw, 1.125rem);
  font-weight: var(--font-weight-semibold);
}

.accordion-content {
  font-size: clamp(0.875rem, 0.786rem + 0.238vw, 1rem);
  color: var(--clr-purple-600);
}

/***********
***Layout***
************/
body {
  background: url("./assets/images/background-pattern-mobile.svg") repeat-x,
    var(--clr-purple-100);
}

@media (min-width: 580px) {
  body {
    background: url("./assets/images/background-pattern-desktop.svg") repeat-x,
      var(--clr-purple-100);
  }
}

.main {
  min-height: 100vh;
  padding-top: 142px;
}

@media (min-width: 580px) {
  .main {
    padding-top: 167px;
  }
}

.card {
  display: flow-root;
  width: min(87.2%, 600px);
  padding: 1.5em 1.5em 0.2em;
  margin: 0 auto;
  background-color: var(--clr-white);
  border-radius: 8px;
  position: relative;
}

@media (min-width: 580px) {
  .card {
    padding: 2.5em 2.5em 0.95em;
    border-radius: 16px;
  }
}

.card::after {
  content: "";
  position: absolute;
  width: 90%;
  height: 60%;
  top: 30%;
  left: 5%;
  background: transparent;
  box-shadow: 0 60px 100px 10px var(--clr-purple-shadow);
  z-index: -1;
}

.card-title {
  margin-bottom: 0.15em;
}

.card-title::before {
  content: "";
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  background-image: url("./assets/images/icon-star.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 1px;
  margin-right: clamp(1.4rem, 1.571rem + -0.19vw, 1.5rem);
}

.accordion-header {
  padding-block: clamp(1.068em, 0.928em + 0.74vw, 1.26em);
}

.accordion-header:not(:first-of-type) {
  border-top: 1px solid var(--clr-purple-100);
}

.accordion-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.accordion-button::after {
  content: "";
  display: inline-block;
  flex-shrink: 0;
  width: 31px;
  height: 31px;
  margin-left: 1em;
  background-image: url("./assets/images/icon-plus.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateX(1px);
}

.accordion-button[aria-expanded="true"]::after {
  background-image: url("./assets/images/icon-minus.svg");
}

.accordion-button[aria-expanded="false"]:hover,
.accordion-button[aria-expanded="false"]:focus {
  color: var(--clr-purple-500);
}

.accordion-content {
  margin-bottom: 1.5em;
  overflow: hidden;
  transition: max-height 0.2s linear;
}

.accordion-content[aria-hidden="true"] {
  max-height: 0;
  margin-bottom: 0;
}

/***********
***Utilities***
*************/
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  opacity: 0;
}
