:root {
  box-sizing: border-box;

  --clr-light-green: hsl(158, 36%, 37%);
  --clr-dark-green: hsl(158, 42%, 18%);

  --clr-black: hsl(212, 21%, 14%);
  --clr-grey: hsl(228, 12%, 48%);
  --clr-cream: hsl(30, 38%, 92%);
  --clr-white: hsl(0, 0%, 100%);

  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/***********
***Resets***
************/
body {
  margin: 0;
  line-height: 1.6;
}

h1,
h2 {
  line-height: 1;
}

h2,
p {
  margin: 0;
}

img {
  display: block;
  min-width: 0;
  max-width: 100%;
  min-height: 0;
  max-height: 100%;
  object-fit: cover;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a,
abbr,
button {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

ins {
  text-decoration: none;
}

button {
  background: none;
  cursor: pointer;
}

/***************
***Typography***
****************/
.product {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: var(--font-weight-medium);
  color: var(--clr-grey);
}

.product-category {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.4125em;
}

.product-title,
.new-price {
  font-family: "Fraunces", sans-serif;
  font-weight: var(--font-weight-bold);
}

.product-title {
  font-size: 2rem;
  color: var(--clr-black);
}

.new-price {
  font-size: 2rem;
  color: var(--clr-light-green);
}

.old-price {
  font-size: 0.825rem;
}

.button {
  color: var(--clr-white);
  font-weight: var(--font-weight-bold);
}

/***********
***Layout***
************/
body {
  background-color: var(--clr-cream);
}

.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding-top: 5em;
}

@media (min-width: 700px) { 
  .main {
    padding-top: 0;
    align-items: center;
  }
}

.product {
  display: grid;
  grid-template-columns: 2.3em repeat(2, 1fr) 2.3em;
  grid-template-rows: 342px 2.1em auto auto auto auto auto 2.3em;
  width: 93.2%;
  max-width: 600px;
  border-radius: 8px;
  background-color: var(--clr-white);
  overflow: hidden;
}

.product-image {
  width: 100%;
  height: 100%;
  grid-column: 1 / -1;
  grid-row: 1;
}

.product-category {
  grid-column: 2;
  grid-row: 3;
}

.product-title {
  grid-column: 2 / -2;
  grid-row: 4;
  margin-block: 0.675em 0.725em;
}

.product-description {
  grid-column: 2 / -2;
  grid-row: 5;
  margin-bottom: 0.95em
}

.new-price {
  grid-column: 2;
  grid-row: 6;
}

.old-price {
  grid-column: 3;
  grid-row: 6;
}

.new-price,
.old-price {
  align-self: center;
}

.button {
  grid-column: 2 / -2;
  grid-row: 7;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75em;
  height: 50px;
  border: none;
  border-radius: 8px;
  margin-top: 1em;
  background-color: var(--clr-light-green);
  transition: background-color 0.2s ease-in-out;
}

.button:hover,
.button:focus {
  background-color: var(--clr-dark-green);
}

@media (min-width: 700px) {
  .product {
    grid-template-columns: 300px 2.3em 1fr 90px 2.3em;
    grid-template-rows: 2.15em auto auto auto auto auto 2.05em; 
  }

  .product-image {
    grid-column: 1 / span 1;
    grid-row: 1 / -1;
    filter: brightness(0.95) contrast(1.1); 
  }

  .product-category {
    grid-column: 3;
    grid-row: 2;
  }

  .product-title {
    grid-column: 3 / -2;
    grid-row: 3;
    margin-block: 0.55em 0.75em;
  }

  .product-description {
    grid-column: 3 / -2;
    grid-row: 4;
    margin-bottom: 1.2em
  }

  .new-price {
    grid-column: 3;
    grid-row: 5;
  }

  .old-price {
    grid-column: 4;
    grid-row: 5;
  }

  .button {
    grid-column: 3 / -2;
    height: 48px;
    grid-row: 6;
    margin-top: 1.4em;
  }
}

/***********
***Utilities***
*************/
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  opacity: 0;
}
