:root {
  box-sizing: border-box;
  --clr-accent: #c8ea55;
  --clr-light-dark: #333333;
  --clr-mid-dark: #1f1f1f;
  --clr-dark: #141414;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/***********
***Resets***
************/
body {
  margin: 0;
  line-height: 1.5;
}

h1,
h2 {
  line-height: 1;
}

h2,
p {
  margin-top: 0;
}

img {
  display: block;
  min-width: 0;
  max-width: 100%;
  min-height: 0;
  object-fit: cover;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

/***************
***Typography***
****************/
body {
  font-family: "Inter", sans-serif;
}

.card {
  color: white;
  font-size: 0.75rem;
}

.name {
  font-size: 1.6rem;
  font-weight: 500;
}

.location, .quote {
  font-size: 0.9rem;
}

.location {
  color: var(--clr-accent);
  font-weight: 700;
}

.quote {
  font-weight: 300;
}

.social-links {
  font-weight: 700;
  font-size: 0.875rem;
}

/***********
***Layout***
************/
body {
  background-color: var(--clr-dark);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: clamp(1.5rem, 1.148rem + 1.502vw, 2.5rem);
  background-color: var(--clr-mid-dark);
  border-radius: 10px;
}

.avatar {
  width: 88px;
  border-radius: 50%;
  margin-bottom: 2.5em;
}

.name {
  margin-bottom: 0.4em;
}

.location {
  margin-bottom: 1.6em;
}

.quote {
  margin-bottom: 1.7em;
}

.social-links {
  display: flex;
  flex-direction: column;
  gap: 1.14em;
  min-width: 304px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  border-radius: 7px;
  background-color: var(--clr-light-dark);
}

.social-link:hover {
  color: var(--clr-light-dark);
  background-color: var(--clr-accent);
}

/**************
***Utilities***
***************/
.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  opacity: 0;
}
